Repository stharrold/stharrold-templates: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Check ASCII-only in Python files (Issue #121)
      - id: ascii-only
        name: Check ASCII-only characters
        entry: python .gemini/skills/workflow-utilities/scripts/check_ascii_only.py
        language: python
        types: [python]
        pass_filenames: false

fix: update gemini-code-review workflow to use correct google-github-actions/run-gemini-cli
  .github/workflows/gemini-code-review.yml
Due: none

feat: add Gemini automation workflows and configuration
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/gemini.yml
  .gitignore
Due: none

fix: update parameter name to gemini_api_key in code review workflow
  .github/workflows/gemini-code-review.yml
Due: none

chore: archive legacy v5.3 architecture documentation
  ARCHIVED/20260102T000712Z_ARCHITECTURE_v5.3.md
Due: none

fix(initialize-repository): update Co-Authored-By email domain to google.com
  .gemini/skills/initialize-repository/scripts/initialize_repository.py
Due: skill-structure, spdx-headers, ascii-only

chore: archive and remove commit_message.txt artifact
  ARCHIVED/20260102T004424Z_cleanup-commit-msg.zip
  commit_message.txt
Due: none

fix(ci): remove deprecated mcp manager steps from workflow
  .github/workflows/tests.yml
Due: none

fix(release): align release workflow with v6 architecture
  .gemini/skills/git-workflow-manager/ARCHIVED/backmerge_release.py.zip
  .gemini/skills/git-workflow-manager/scripts/release_workflow.py
  .gemini/skills/workflow-utilities/ARCHIVED/sync_manifest.py.zip
  .gemini/skills/workflow-utilities/ARCHIVED/todo_updater.py.zip
  .gemini/skills/workflow-utilities/ARCHIVED/workflow_archiver.py.zip
  .gemini/skills/workflow-utilities/ARCHIVED/workflow_registrar.py.zip
  .gitignore
Due: skill-structure, spdx-headers, ascii-only

fix(workflows): remove legacy review workflow and expose gemini-review command
  .gemini/commands.toml
  .github/workflows/gemini-code-review.yml
  .gitignore
Due: none

docs(changelog): release v7.0.0
  CHANGELOG.md
Due: none

fix(workflows): trigger gemini review on pr synchronization
  .github/workflows/gemini-dispatch.yml
Due: none

fix(workflows): handle synchronize event in dispatch logic
  .github/workflows/gemini-dispatch.yml
Due: none

fix(commands): correct tool usage instructions for gemini-review
  .gemini/commands.toml
Due: none

fix(commands): simplify gemini-review to use gh cli
  .gemini/commands.toml
Due: none

fix(commands): revert to MCP tools for gemini-review
  .gemini/commands.toml
Due: none

docs: simplify workflow command names in documentation
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/initialize-repository/scripts/apply_workflow.py
  GEMINI.md
  WORKFLOW.md
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

docs: comprehensive update to v7.0.0 standards and simplified commands
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
  azure-pipelines.yml
  docs/reference/WORKFLOW-INIT-PROMPT.md
  docs/reference/workflow-diagram.md
  docs/reference/workflow-hotfix.md
  docs/reference/workflow-integration.md
  docs/reference/workflow-operations.md
  docs/reference/workflow-planning.md
Due: none

docs: remove feature-dev references and update to built-in Gemini tools
  .gemini/commands.toml
  ARCHIVED/README.md
  CHANGELOG.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  WORKFLOW.md
  docs/reference/WORKFLOW-INIT-PROMPT.md
  docs/reference/workflow-diagram.md
  docs/reference/workflow-hotfix.md
  docs/reference/workflow-planning.md
  tests/skills/git-workflow-manager/test_create_worktree.py
  tests/skills/git-workflow-manager/test_create_worktree_integration.py
Due: gemini-md-frontmatter, spdx-headers, ascii-only

docs: rename workflow commands to v7x0 and update all references
  .gemini/commands.toml
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/initialize-repository/scripts/apply_workflow.py
  CONTRIBUTING.md
  GEMINI.md
  WORKFLOW.md
  docs/reference/WORKFLOW-INIT-PROMPT.md
  docs/reference/german-workflow-v5.3.0.md
  docs/reference/workflow-diagram.md
  docs/reference/workflow-hotfix.md
  docs/reference/workflow-integration.md
  docs/reference/workflow-operations.md
  docs/reference/workflow-planning.md
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

docs: finalize v7x0 renaming and update all GEMINI.md files
  .gemini/commands.toml
  .gemini/skills/GEMINI.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
Due: gemini-md-frontmatter, skill-structure

docs: update GEMINI.md files and workflow configuration for v7x0
  .gemini/commands/workflow/GEMINI.md
  .gemini/commands/workflow/status.toml
  .gemini/commands/workflow/v7x0_1-worktree.toml
  .gemini/commands/workflow/v7x0_2-integrate.toml
  .gemini/commands/workflow/v7x0_3-release.toml
  .gemini/commands/workflow/v7x0_4-backmerge.toml
  .gemini/commands/workflow/worktree.toml
  .gemini/skills/GEMINI.md
  .gemini/skills/UPDATE_CHECKLIST.md
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/agentdb-state-manager/templates/workflow-states.json
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/initialize-repository/SKILL.md
  .gemini/skills/initialize-repository/scripts/initialize_repository.py
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  .gemini/skills/workflow-utilities/SKILL.md
  .github/copilot-instructions.md
  GEMINI.md
  WORKFLOW.md
  docs/archived/20251123T000000Z_WORKFLOW_full.md
  docs/guides/40_deployment/project-inventory.md
  docs/guides/40_deployment/version-mapping.md
  docs/reference/WORKFLOW-INIT-PROMPT.md
  docs/reference/german-workflow-v5.3.0.md
  tests/skills/git-workflow-manager/test_backmerge_workflow.py
  tests/skills/git-workflow-manager/test_semantic_version.py
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

docs: update workflow version from v7x0 to v7x1 everywhere
  .gemini/commands.toml
  .gemini/commands/workflow/GEMINI.md
  .gemini/commands/workflow/status.toml
  .gemini/commands/workflow/v7x1_1-worktree.toml
  .gemini/commands/workflow/v7x1_2-integrate.toml
  .gemini/commands/workflow/v7x1_3-release.toml
  .gemini/commands/workflow/v7x1_4-backmerge.toml
  .gemini/skills/GEMINI.md
  .gemini/skills/UPDATE_CHECKLIST.md
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/agentdb-state-manager/templates/workflow-states.json
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/initialize-repository/SKILL.md
  .gemini/skills/initialize-repository/scripts/apply_workflow.py
  .gemini/skills/initialize-repository/scripts/initialize_repository.py
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  .gemini/skills/workflow-utilities/SKILL.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  WORKFLOW.md
  docs/archived/20251123T000000Z_WORKFLOW_full.md
  docs/guides/40_deployment/project-inventory.md
  docs/guides/40_deployment/version-mapping.md
  docs/reference/WORKFLOW-INIT-PROMPT.md
  docs/reference/german-workflow-v5.3.0.md
  docs/reference/workflow-diagram.md
  docs/reference/workflow-hotfix.md
  docs/reference/workflow-integration.md
  docs/reference/workflow-operations.md
  docs/reference/workflow-planning.md
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

feat: add --root flag to secrets_setup.py
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  scripts/secrets_setup.py
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

chore: update GEMINI.md references
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

feat: add --root flag to run.py
  scripts/run.py
Due: spdx-headers, ascii-only

chore: disable dispatch workflow and update GEMINI.md references
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  .github/workflows/gemini-dispatch.yml.disabled
Due: gemini-md-frontmatter, skill-structure

fix: update test_secrets.py and add tomlkit to dev-dependencies
  pyproject.toml
  tests/unit/test_secrets.py
  uv.lock
Due: spdx-headers, ascii-only

chore: bump version to 7.2.0
  pyproject.toml
Due: none

docs: update CHANGELOG.md for v7.2.0
  CHANGELOG.md
Due: none

docs: update all GEMINI.md references
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  uv.lock
Due: gemini-md-frontmatter, skill-structure

docs: enforce manual branch deletion in workflow
  .gemini/skills/git-workflow-manager/scripts/backmerge_workflow.py
  .gemini/skills/git-workflow-manager/scripts/cleanup_feature.py
  .gemini/skills/git-workflow-manager/scripts/cleanup_release.py
  WORKFLOW.md
Due: skill-structure, spdx-headers, ascii-only

docs: update git-workflow-manager SKILL.md
  .gemini/skills/git-workflow-manager/SKILL.md
Due: skill-structure

docs: update git-workflow-manager GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

docs: enforce manual worktree deletion in workflow
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/scripts/cleanup_feature.py
  WORKFLOW.md
Due: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

docs: enforce manual PR merging in workflow
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/SKILL.md
Due: gemini-md-frontmatter, skill-structure
