Repository stharrold/stharrold-templates: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, ascii-only

gemini-md-frontmatter:
  name: Check GEMINI.md has YAML frontmatter
  entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

ascii-only:
  name: Check ASCII-only characters
  entry: python .gemini/skills/workflow-utilities/scripts/check_ascii_only.py
  language: python
  pass_filenames: false

docs: include manual merge steps in slash commands
  .gemini/commands/workflow/v7x1_2-integrate.toml
  .gemini/commands/workflow/v7x1_3-release.toml
  .gemini/commands/workflow/v7x1_4-backmerge.toml
Due: none

docs(changelog): update 7.2.0 entry with manual workflow changes
  CHANGELOG.md
Due: none

chore(workflow): archive redundant gemini commands and workflows
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  ARCHIVED/20260118T165035Z_remove-redundant-gemini-configs.zip
Due: none

chore(workflow): archive remaining redundant gemini workflows
  .github/workflows/gemini-dispatch.yml.disabled
  .github/workflows/gemini.yml
  ARCHIVED/20260118T165117Z_remove-remaining-gemini-workflows.zip
Due: none

docs(changelog): correct version to 7.3.0 and clarify release notes
  CHANGELOG.md
Due: none

docs(changelog): restore v7.2.0 entry and separate v7.3.0 changes
  CHANGELOG.md
Due: none

docs: update GEMINI.md references
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

docs: add project-level CLAUDE.md for Claude Code context
  CLAUDE.md
  secrets.toml
Due: none

fix: align pyproject.toml version with CHANGELOG (7.3.0) (#178)
  pyproject.toml
Due: none

refactor: extract is_ci()/is_container() into shared environment_utils module (#173)
  scripts/environment_utils.py
  scripts/run.py
  scripts/secrets_setup.py
  tests/unit/test_environment_utils.py
Due: spdx-headers, ascii-only

fix: remove dead ARCHITECTURE.md references (#172)
  .github/copilot-instructions.md
  GEMINI.md
  README.md
  WORKFLOW.md
  docs/guides/40_deployment/version-mapping.md
Due: gemini-md-frontmatter

feat: add Claude Code review GitHub Actions workflow (#167)
  .github/workflows/claude-code-review.yml
Due: none

test: add integration tests for custom pre-commit hooks (#181)
  tests/integration/test_precommit_hooks.py
Due: spdx-headers, ascii-only

fix: resolve remaining stale .gemini references missed in bulk migration (#166)
  .claude/CLAUDE.md
  .claude/commands.toml
  .claude/commands/CLAUDE.md
  .claude/skills/CLAUDE.md
  .claude/skills/initialize-repository/CLAUDE.md
  .claude/skills/initialize-repository/SKILL.md
  CLAUDE.md
  docs/guides/40_deployment/application-guide.md
  docs/guides/40_deployment/decision-matrix.md
  docs/guides/40_deployment/project-inventory.md
Due: none

fix: update secrets.toml to match library conventions (#168)
  secrets.toml
Due: none

refactor: rename scripts/run.py to scripts/secrets_run.py (#169)
  .github/workflows/secrets-example.yml
  CLAUDE.md
  README.md
  azure-pipelines-secrets.yml
  scripts/secrets_run.py
  scripts/secrets_setup.py
  tests/unit/test_secrets.py
Due: spdx-headers, ascii-only

fix: update secrets-example.yml to match library conventions (#170)
  .github/workflows/secrets-example.yml
Due: none

fix: update secrets_setup.py docstring to match library conventions (#171)
  scripts/secrets_setup.py
Due: spdx-headers, ascii-only

fix: replace non-functional analyze_metrics.py with NotImplementedError (#175)
  .claude/skills/agentdb-state-manager/scripts/analyze_metrics.py
Due: spdx-headers, ascii-only

chore: convert inline TODOs to tracked GitHub issues (#176)
  .claude/skills/agentdb-state-manager/scripts/sync_engine.py
  .claude/skills/agentdb-state-manager/scripts/worktree_agent_integration.py
Due: spdx-headers, ascii-only

refactor: remove unimplemented Azure DevOps VCS adapter (#179)
  .claude/skills/workflow-utilities/scripts/vcs/__init__.py
  .claude/skills/workflow-utilities/scripts/vcs/azure_adapter.py
  .claude/skills/workflow-utilities/scripts/vcs/base_adapter.py
  .claude/skills/workflow-utilities/scripts/vcs/provider.py
Due: spdx-headers, ascii-only

docs: add complete ARCHIVED/ directory index (#180)
  ARCHIVED/CLAUDE.md
  ARCHIVED/README.md
Due: none

fix: address Copilot review comments in apply_workflow.py (#145)
  .claude/skills/initialize-repository/scripts/apply_workflow.py
Due: spdx-headers, ascii-only

fix: complete Azure DevOps removal from generate_work_items_from_pr.py and docs (#179)
  .claude/skills/git-workflow-manager/CLAUDE.md
  .claude/skills/git-workflow-manager/scripts/generate_work_items_from_pr.py
  .claude/skills/workflow-utilities/CLAUDE.md
  .claude/skills/workflow-utilities/scripts/vcs/config.py
Due: spdx-headers, ascii-only

fix: enforce ruff linting in CI by removing continue-on-error (#177)
  .github/workflows/tests.yml
Due: none

test: add AgentDB state manager test coverage (#174)
  tests/skills/agentdb-state-manager/__init__.py
  tests/skills/agentdb-state-manager/test_checkpoint_manager.py
  tests/skills/agentdb-state-manager/test_init_database.py
  tests/skills/agentdb-state-manager/test_record_sync.py
Due: spdx-headers, ascii-only

release: v8.0.0 — Gemini→Claude migration and repo quality improvements (#182)
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: none

fix: address PR #188 review comments — stale Gemini URLs and VCS adapter bug
  .claude/skills/UPDATE_CHECKLIST.md
  .claude/skills/initialize-repository/CLAUDE.md
  .claude/skills/workflow-utilities/scripts/vcs/__init__.py
  .github/copilot-instructions.md
  CONTRIBUTING.md
  docs/guides/10_mcp/11_setup.md
  docs/guides/10_mcp/12_servers.md
  docs/guides/10_mcp/13_context-management.md
  docs/guides/10_mcp/15_troubleshooting.md
  docs/guides/20_credentials/21_keychain-macos.md
  docs/guides/40_deployment/application-guide.md
  scripts/secrets_setup.py
Due: spdx-headers, ascii-only

fix: address PR #189 review comments — stale Azure refs and gemini CLI commands
  .github/copilot-instructions.md
  docs/guides/10_mcp/11_setup.md
  docs/guides/10_mcp/12_servers.md
  docs/guides/10_mcp/14_enterprise-search.md
  docs/guides/10_mcp/15_troubleshooting.md
  docs/guides/20_credentials/23_enterprise-sso.md
  docs/guides/20_credentials/24_audit-compliance.md
  docs/guides/30_implementation/32_workflow-patterns.md
  docs/guides/30_implementation/33_testing-standards.md
  docs/guides/30_implementation/37_team-collaboration.md
  docs/guides/30_implementation/38_enterprise-deployment.md
Due: none

docs: add gotchas section to CLAUDE.md
  CLAUDE.md
Due: none

docs: address PR #191 review comments — punctuation and accuracy fixes
  CLAUDE.md
Due: none

fix: address PR #192 review comments — bump to v8.1.0, fix gotcha wording
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

feat: v8.2.0 comprehensive cleanup release (#204)
  .claude/commands/workflow/v7x1_1-worktree.toml
  .claude/commands/workflow/v7x1_2-integrate.toml
  .claude/commands/workflow/v7x1_3-release.toml
  .claude/commands/workflow/v7x1_4-backmerge.toml
  .claude/skills/CLAUDE.md
  .claude/skills/agentdb-state-manager/SKILL.md
  .claude/skills/git-workflow-manager/SKILL.md
  .claude/skills/initialize-repository/CLAUDE.md
  .claude/skills/initialize-repository/SKILL.md
  .claude/skills/tech-stack-adapter/CLAUDE.md
  .claude/skills/tech-stack-adapter/README.md
  .claude/skills/tech-stack-adapter/SKILL.md
  .claude/skills/workflow-orchestrator/SKILL.md
  .claude/skills/workflow-utilities/SKILL.md
  .github/copilot-instructions.md
  .gitignore
  ARCHIVED/20260131T161758Z_critical-assessment.md
  ARCHIVED/20260131T161758Z_gemini-state.zip
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  WORKFLOW.md
  docs/guides/10_mcp/11_setup.md
  pyproject.toml
  tests/skills/tech-stack-adapter/__init__.py
  tests/skills/tech-stack-adapter/test_detect_stack.py
  tests/skills/workflow-orchestrator/__init__.py
  tests/skills/workflow-orchestrator/test_orchestrator_structure.py
  uv.lock
Due: spdx-headers, ascii-only

fix: address PR #205 review comments — modern git syntax, parameterize branch
  .claude/commands/workflow/v7x1_3-release.toml
  .claude/commands/workflow/v7x1_4-backmerge.toml
Due: none

refactor: migrate workflow commands from TOML to Markdown format
  .claude/commands/workflow/CLAUDE.md
  .claude/commands/workflow/status.md
  .claude/commands/workflow/v7x1_1-worktree.md
  .claude/commands/workflow/v7x1_2-integrate.md
  .claude/commands/workflow/v7x1_3-release.md
  .claude/commands/workflow/v7x1_4-backmerge.md
  CLAUDE.md
Due: none

fix: address PR #206 review comments and debug CI review workflow
  .claude/settings.local.json
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: none

chore: remove stale config files, simplify CI review workflow
  .claude/commands.toml
  .claude/settings.local.json
  .github/copilot-instructions.md
  .github/workflows/claude-code-review.yml
  .gitignore
Due: none

fix: address PR #207 review comments
  .claude/commands/workflow/v7x1_1-worktree.md
  .claude/commands/workflow/v7x1_2-integrate.md
  CHANGELOG.md
Due: none

fix: make agentdb-state-manager robust — table checks, v7x1 patterns, graceful degradation
  .claude/CLAUDE.md
  .claude/skills/agentdb-state-manager/CLAUDE.md
  .claude/skills/agentdb-state-manager/scripts/query_workflow_state.py
  .claude/skills/agentdb-state-manager/scripts/record_sync.py
  CHANGELOG.md
  CLAUDE.md
  tests/skills/agentdb-state-manager/test_query_workflow_state.py
  tests/skills/agentdb-state-manager/test_record_sync.py
Due: spdx-headers, ascii-only

Path conditions:
  gemini-md-frontmatter: any of: GEMINI\.md$
  skill-structure: any of: ^\.gemini/skills/
  spdx-headers: any of: \.py$
  ascii-only: any of: \.py$
